fastapi
uvicorn
python-multipart
pandas
numpy
scikit-learn
faiss-cpu
google-generativeai>=0.3.0
httpx
python-dotenv
fastapi-users[sqlalchemy]
aiosqlite
bio-embeddings[prottrans_t5_xl_u50]
torch
sentencepiece